<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dummy"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.FlowOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui_parallel.activities.ParallelMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="hublix.ai" />
                <data android:path="/application-form" />
            </intent-filter>
        </activity>

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false" />
    </application>

</manifest>